Dimmer_Flow.json
[{"id":"d4c1f312.bc45d","type":"mqtt out","z":"418ce47a.6591dc","name":"","topic":"zigbee2mqtt/innr-01/set","qos":"","retain":"","broker":"2331f190.a6c6ce","x":670,"y":340,"wires":[]},{"id":"b79975b0.3b15b8","type":"mqtt in","z":"418ce47a.6591dc","name":"","topic":"zigbee2mqtt/ikea-Remote","qos":"2","datatype":"json","broker":"2331f190.a6c6ce","x":130,"y":340,"wires":[["d9b4a415.42f9c8"]]},{"id":"d9b4a415.42f9c8","type":"function","z":"418ce47a.6591dc","name":"Dimmer","func":"/*\n    This function currently works with IKEA models:\n        E1743 TRADFRI On/Off Switch\n        E1810 TRADFRI Remote\n\n\n    msg.payload.action:\n    \n        From E1743 TRADFRI On/Off Switch\n            on\n            off\n            brightness_move_down\n            brightness_move_up\n            brightness_stop\n        \n        From E1810 TRADFRI Remote    \n            toggle (there is no on/off)\n            brightness_up_click\n            brightness_up_hold\n            brightness_up_release\n            brightness_down_click\n            brightness_down_hold\n            brightness_down_release\n\n\n*/\n\nvar step = 16;      // change in brightness for each step.\nvar loopLimit = 30; // max number of loops. Safety in case we don't get a brightness_stop action.\n\nvar brightness = context.get(\"brightness\") || 128;\nvar repeating  = context.get(\"repeating\") || 0;\nvar out = null;       // output #1, to zigbee2mqtt\nvar outLoop = null; // output #2, to a delay, and back to the input.\n\n\nfunction setBrightness(dir) {\n    if(dir > 0) {\n        brightness += step;\n    } else {\n        brightness -= step;\n    }\n    if(brightness <= 2) {brightness = 2;}  // 1 and 0 are off\n    if(brightness >=255) {brightness = 255;}\n    out = {\"payload\": {\"state\": \"on\", \"brightness\": brightness}};\n}\n\nif(msg.payload.action == \"on\") {\n    out = {\"payload\": {\"state\": \"on\"}};\n} else if(msg.payload.action == \"off\") {\n    out = {\"payload\": {\"state\": \"off\"}};\n} else if(msg.payload.action == \"toggle\") {\n    out = {\"payload\": {\"state\": \"toggle\"}};\n\n} else if(msg.payload.action == \"brightness_up_click\") {\n    setBrightness(+1);\n} else if(msg.payload.action == \"brightness_down_click\") {\n    setBrightness(-1);\n\n} else if(msg.payload.action == \"brightness_move_up\" ||\n        msg.payload.action == \"brightness_up_hold\" ||\n        (msg.payload.action == \"brightness_up_rep\" && repeating) ) {\n    setBrightness(+1);\n    outLoop = {\"payload\": {\"action\": \"brightness_up_rep\"}};\n    repeating++;\n} else if(msg.payload.action == \"brightness_move_down\" ||\n        msg.payload.action == \"brightness_down_hold\" ||\n        (msg.payload.action == \"brightness_down_rep\" && repeating) ) {\n    setBrightness(-1);\n    outLoop = {\"payload\": {\"action\": \"brightness_down_rep\"}};\n    repeating++;\n    \n} else if(msg.payload.action == \"brightness_stop\" ||\n        msg.payload.action == \"brightness_up_release\" ||\n        msg.payload.action == \"brightness_down_release\" ||\n        repeating > loopLimit) {\n    repeating = 0;\n\n}\n\ncontext.set(\"brightness\", brightness);\ncontext.set(\"repeating\", repeating);\nnode.status({text:brightness});\n\nreturn [out, outLoop];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":380,"y":340,"wires":[["d4c1f312.bc45d"],["4b948fa.3afa17"]]},{"id":"4b948fa.3afa17","type":"delay","z":"418ce47a.6591dc","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":400,"wires":[["d9b4a415.42f9c8"]]},{"id":"2331f190.a6c6ce","type":"mqtt-broker","z":"","name":"dummy","broker":"dummy","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]